{% extends 'layouts/index.html' %}
{% load static %}

{% block head %}
    <link rel='stylesheet' href="{% static 'posts.css'%}">
{% endblock %}
    

{% block content %}
    <div class='search'>
        <form action='/posts/' method='get'>
            <input type='text' name='text'>
            <input type='submit' value='search'>
        </form>
    </div>
    <div class="posts">
        {% for post in posts %}
            <div class="card" style="width: 18rem;">
              <div class="card-body">
                {%if post.image%}
                    <img src="/media/{{post.image}}/" alt='not found'>
                {%else %}
                    <img src="/media/Rectangle 57.png" alt=''>
                {% endif %}
                <h5 class="card-title">{{ post.title }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{ post.created_date }}</h6>
                <p class="card-text">{{ post.description }}</p>
                <a href="/posts/{{post.id}}/" class="card-link">More...</a>
              </div>
            </div>
        {% endfor %}
    </div>
    <div class='page'>
        {% for page in pages  %}
            <a href='/posts/?page={{page}}'>
                <button>{{page}}</button>
            </a>
        {% endfor %}
    </div>

{% endblock %}


